<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout.html}" th:with="jsFiles=${ {'/plugins/jsgrid/jsgrid.min.js', '/js/maker-list.js'} }, cssFiles=${ {'/plugins/jsgrid/jsgrid.min.css', '/plugins/jsgrid/jsgrid-theme.min.css'} }">

	<div class="content" layout:fragment="content">
		<div class="container-fluid default-content">
			<form th:action="@{/maker/list}" id="makerListForm" th:method="post" th:object="${listForm}">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-3">
										<div class="form-group">
											<label for="hanbaiten">販売店</label>
											<select class="form-control" th:field="*{hanbaiten}" required>
												<option value=""></option>
												<option th:each="item : ${hanbaitenList}" th:value="${item.tokuisakiCode}" th:text="${item.tokuisakiName}"></option>
											</select>
											<div class="invalid-feedback" id="errorMessage.hanbaiten"></div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label for="makerCode">メーカーコード</label>
											<input type="text" class="form-control" th:field="*{tokuisakiCode}">
											<div class="invalid-feedback" id="errorMessage.tokuisakiCode"></div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label for="name">名称</label>
											<input type="text" class="form-control" th:field="*{tokuisakiName}">
											<div class="invalid-feedback" id="errorMessage.tokuisakiName"></div>
										</div>
									</div>
									<!-- <div class="col-lg-3">
										<div class="form-group">
											<label for="category">カテゴリー</label>
											<select class="form-control" th:field="*{category}">
												<option value="">選択してください</option>
												<option th:each="item : ${categoryList}" th:value="${item.id}" th:text="${item.categoryName}"></option>
											</select>
											<div class="invalid-feedback" id="errorMessage.category"></div>
										</div>
									</div> -->
								</div>

								<!-- 入れ子になっている場合のエラー表示例 -->
								<!-- <div class="row">
									<div class="col-lg-4">
										<div class="form-group">
											<label>テスト</label> -->
											<!-- ajaxの場合のエラー表示例 -->
											<!-- <div th:each="testItem, stat : *{test}">
												<input type="text" class="form-control" th:field="*{test[__${stat.index}__].code}" placeholder="コード" />
												<div class="invalid-feedback" th:id="'errorMessage.test[' + ${stat.index} + '].code'"></div>
											</div> -->

											<!-- submit時のエラー表示例 -->
											<!-- <div th:each="testItem, stat : *{test}">
												<input type="text" class="form-control" th:classappend="${#fields.hasErrors('test[' + stat.index + '].code')} ? 'is-invalid' : ''" th:field="*{test[__${stat.index}__].code}" placeholder="コード" />
												<div class="invalid-feedback" th:errors="*{test[__${stat.index}__].code}"></div>
											</div> -->
										<!-- </div>
									</div>
								</div> -->
								
								<div class="row">
									<div class="col-lg-12 text-center">
										<button type="submit" id="btnSearch" class="btn btn-primary">検索</button>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
							</div>
							<div class="card-body grid-area">
								<div class="grid-info" th:insert="~{element/list-default-grid(gridId='makerListJsGrid', count=0, isShowCopyAndDeleteDescription=false)}"></div>
							</div>
						</div>
					</div>
				</div>
				
			</form>
		</div>
	</div>
	
</html>
