<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smalog.mapper.MakerDetailMapper">

  <sql id="allColumns">
    ID AS id
    , 得意先コード AS tokuisakiCode
    , 商品情報入力ルール AS shouhinjouhouNyuryokuRule
    , メール受信フラグ AS mailJushinFlag
    , 作成担当者番号 AS createTantoushaNumber
    , 作成日時 AS createDate
    , 更新担当者番号 AS updateTantoushaNumber
    , 更新日時 AS updateDate 
  </sql>

  <select id="findById" resultType="com.smalog.dto.MakerDetailDTO">
    SELECT
      <include refid="allColumns" />
    FROM
      SL_販売店詳細 
    WHERE
      ID = #{id}
  </select>

  <select id="findByTokuisakiCode" resultType="com.smalog.dto.MakerDetailDTO">
    SELECT
      <include refid="allColumns" />
    FROM
      SL_販売店詳細 
    WHERE
      得意先コード = #{tokuisakiCode}
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO SL_販売店詳細 (
      得意先コード, 商品情報入力ルール, メール受信フラグ,
      作成担当者番号, 作成日時, 更新担当者番号, 更新日時
    ) VALUES (
      #{tokuisakiCode}, #{shouhinjouhouNyuryokuRule}, #{mailJushinFlag},
      #{createTantoushaNumber}, #{createDate}, #{updateTantoushaNumber}, #{updateDate}
    )
  </insert>
    
  <update id="update">
    UPDATE SL_販売店詳細
    SET
      商品情報入力ルール = #{shouhinjouhouNyuryokuRule},
      メール受信フラグ = #{mailJushinFlag},
      更新担当者番号 = #{updateTantoushaNumber},
      更新日時 = #{updateDate}
    WHERE
        ID = #{id}
  </update>

</mapper>